[build-system]
requires = ["setuptools>=68.0"]
build-backend = "setuptools.build_meta"

[project]
name = "algopy"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = [
    "matplotlib",
    "networkx",
]
